<div class="flex flex-col p-4 fixed top-16 bottom-0 left-0 right-0 overflow-y-scroll">
  <div class="flex flex-row gap-4 items-baseline">
    <mat-form-field appearance="outline" class="grow">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Keyword" #input>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="uploadNewProduct()"><mat-icon>add</mat-icon>Add Product</button>
  </div>

  <div class="">
    <table mat-table [dataSource]="dataSource" matSort>

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex flex-row justify-between items-center">
            {{element.name}}
            <button mat-icon-button (click)="changeName(element)"><mat-icon>edit</mat-icon></button>
          </div>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex flex-row justify-between items-center">
            {{element.description}}
            <button mat-icon-button (click)="changeDescription(element)"><mat-icon>edit</mat-icon></button>
          </div>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex flex-row justify-between items-center">
            {{element.price | currency:'EUR':'symbol':'2.2':'de-DE'}}
            <button mat-icon-button (click)="changePrice(element)"><mat-icon>edit</mat-icon></button>
          </div>
        </td>

      </ng-container>

           <!-- Symbol Column -->
           <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element">
              <div class="flex flex-row justify-between items-center">
                {{element.category}}
                <button mat-icon-button (click)="changeCategory(element)"><mat-icon>edit</mat-icon></button>
              </div>
            </td>
    
          </ng-container>


      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex flex-row gap-2">
            <button mat-flat-button color="accent" (click)="enableProduct(element)"
              *ngIf="!element.enabled">Enable</button>
            <button mat-flat-button color="warn" (click)="disableProduct(element)"
              *ngIf="element.enabled">Disable</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
</div>

<div class="fixed right-3 bottom-3 flex flex-col gap-3 ">


</div>