<div fxLayout="column">
    <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
        <h2>Change image of {{name}} to:</h2>
        <!-- <mat-form-field class="btn-block" appearance="outline">
            <mat-label>Price</mat-label>
            <input #input matInput matInput type="number" step=".01" min="0" max="999" formControlName="price">
            <mat-icon matSuffix>euro</mat-icon>
            <mat-error *ngIf="form.hasError('required', 'price')">Enter valid product price.</mat-error>
            <mat-error *ngIf="form.hasError('max', 'price')">Entered price to high.</mat-error>
            <mat-error *ngIf="form.hasError('min', 'price')">Entered price to low.</mat-error>
        </mat-form-field> -->
        <mat-grid-list cols="1" rowHeight="1:1">
            <mat-grid-tile [style]="'background-size: cover;background-image: url(\'' + selectedImage.preview + '\')'">
              <div fxLayout="column" fxLayoutAlign="end center" fxFlexFill>
                <div style="height: 100%;" fxLayout="column" fxLayoutAlign="center center"></div>
                <mat-progress-bar mode="determinate" color="accent"
                  [value]="selectedImage.uploadProgress"></mat-progress-bar>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
  
          <input #input (change)="select($event)" accept="image/*" hidden type="file" />
          <button (click)="input.click()" class="btn-block" color="accent" mat-flat-button>Add Image</button>
  
    </form>
    <div fxLayout="row">
        <button mat-button class="btn-block" [disabled]="!valid" (click)="onSubmitForm()" color="accent">Submit</button>
        <button mat-button class="btn-block" (click)="snackBarRef.dismiss()" color="warn">Close</button>
    </div>
</div>