<mat-card class="flex basis-[640px] sm:basis-full">
  <mat-card-header>
    <mat-card-title>{{ username }}</mat-card-title>
    <mat-card-subtitle>{{ role }} - {{ isVerified ? 'Verified' : 'Not Verified' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="mt-4">
    <p><strong>Creation Time:<br></strong> {{ creationTime }}</p>
    <p><strong>Last Sign-In Time:<br></strong> {{ lastSignInTime }}</p>
    <p><strong>Email Verification Status:<br></strong> {{ isEmailVerified ? 'Verified' : 'Not Verified' }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn" (click)="signOut()" class="btn-block" [disabled]="!currentUser">Sign Out</button>
  </mat-card-actions>
</mat-card>