<mat-card class="basis-[600px] md:basis-[100%]">
  <mat-card-content>
    <h1>Forgot Password</h1>
    <form>
      <mat-form-field class="btn-block" appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="marie.mustermann@beispiel.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email adress
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Please enter a email adress
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" class="btn-block"[disabled]="!isValid()" (click)="requestPasswordReset()" >
        Request email
      </button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" [routerLink]="['/action']" [queryParams]="{mode: 'login'}">
      Sign in
    </button>
    <button mat-button color="primary" [routerLink]="['/action']" [queryParams]="{mode: 'register'}">
      Regisster
    </button>
  </mat-card-actions>
</mat-card>
