// _snackbar-theme.scss
@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $accent-palette:  map.get($color-config, 'accent');
    $warn-palette:  map.get($color-config, 'warn');

    .style-success .mat-mdc-button.mat-mdc-snack-bar-action {
        color:  mat.get-color-from-palette($accent-palette, 500) !important;
    }

    .style-error .mat-mdc-button.mat-mdc-snack-bar-action {
        color: mat.get-color-from-palette($warn-palette, 500) !important;
    }
}

@mixin theme($theme) {
    @include color($theme);
}