<div fxLayout="column">
    <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
        <h2>Change category of {{name}} to:</h2>
        <mat-form-field class="btn-block" appearance="outline" >
            <mat-label>Product Category</mat-label>
            <mat-select #input [value]="category" placeholder="Category" formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.hasError('required', 'category')">Enter valid product category.</mat-error>
        </mat-form-field>
    </form>
    <div fxLayout="row">
        <button mat-button class="btn-block" [disabled]="!valid" (click)="onSubmitForm()" color="accent">Submit</button>
        <button mat-button class="btn-block" (click)="snackBarRef.dismiss()" color="warn">Close</button>
    </div>
</div>