.pin-pad {
    width: 300px;
}

.pin-pad-button {
    height: 60px;
    min-width: unset!important;
    font-weight: bold;
}

.pin-pad-input {
    padding-bottom: 0 !important;
}

.bean-background {
    /* background-image: url("/assets/beans.svg");
    background-size: 30%; */
}

.bean-background::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .5; 
    z-index: -1;
    background-image: url("/assets/beans.svg");
    background-size: 50%;
  }

.wrong-pin {
    animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    0%, 100% {
        transform: translate3d(0, 0, 0);
    }

    20%, 60% {
        transform: translate3d(-0.5rem, 0, 0);
    }


    40%, 80% {
        transform: translate3d(0.5rem, 0, 0);
    }
}