.pin-pad {
    width: 300px;
}

.pin-pad-button {
    height: 60px;
    min-width: unset!important;
    font-weight: bold;
}

.pin-pad-input {
    padding-bottom: 0 !important;
}

.bean-background {
    /* background-image: url("/assets/beans.svg");
    background-size: 30%; */
}

.bean-background::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .5; 
    z-index: -1;
    background-image: url("/assets/beans.svg");
    background-size: 50%;
  }