<mat-toolbar class="navbar-background">
  <mat-toolbar-row>

    <!-- <div class="flag">
      <img src="assets/logo_i11.svg"/>
    </div> -->


    <!-- <button mat-icon-button [routerLink]="['home']"> -->
      <img src="assets/logo_i112.svg" class="icon"/>
    <!-- </button> -->
<!-- 
      <button mat-icon-button [routerLink]="['home']">
        <img src="assets/logo2.svg" class="rounded-full" />
      </button> -->

      <a style="text-decoration: inherit;color: inherit;" [routerLink]="['home']">
        <span>Bean Beavor</span>
      </a>

    <span class="flex-auto"></span>

    <button mat-icon-button aria-label="Button to access the admin panel." [routerLink]="['admin']">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>

    <button mat-icon-button aria-label="Button to activate dark mode." (click)="this.activateDarkMode()"
      [hidden]="this.isDarkMode">
      <mat-icon>dark_mode</mat-icon>
    </button>

    <button mat-icon-button aria-label="Button to activate light mode." (click)="this.activateLightMode()"
      [hidden]="!this.isDarkMode">
      <mat-icon>light_mode</mat-icon>
    </button>

    <button mat-icon-button aria-label="Button to login into the user account." [routerLink]="['action']"
      [queryParams]="{mode: 'login'}" *ngIf="!this.isSignedIn">
      <mat-icon>login</mat-icon>
    </button>

    <button mat-icon-button aria-label="Button to access user profile" [matMenuTriggerFor]="menu" *ngIf="this.isSignedIn">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <bb-user></bb-user>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>
<main class="flex justify-center">
  <router-outlet></router-outlet>
</main>