<div class="flex flex-row items-center justify-around gap-4 m-4">
    <button mat-mini-fab class="z-10 flex-none"  (click)="scrollLeft()">
        <mat-icon>navigate_before</mat-icon>
    </button>
    <div #scrollArea class="grow flex flex-row gap-[15px] items-center overflow-x-scroll -ml-[64px] -mr-[64px] no-scrollbar">
        <product-card *ngFor="let product of products" [product]="product"></product-card>
    </div>
    <button mat-mini-fab class="flex-none" (click)="scrollRight()">
        <mat-icon>navigate_next</mat-icon>
    </button>
</div>