<div class="fixed top-3 left-0 right-0" style="width: 400px; margin: 0 auto;">
  <mat-chip-listbox>
    <mat-chip-option *ngFor="let category of categories" (click)="scroll(category.name)">{{category.name}}</mat-chip-option>
  </mat-chip-listbox>
</div>

<div class="absolute top-16 left-0 right-0 bottom-0 flex flex-row justify-center">
  <div class="overflow-scroll w-full">
    <div *ngFor="let category of categories" attr.id="{{category.name}}">
      <product-carousell [category]="category.name"></product-carousell>
    </div>
  </div>
</div>