<div fxLayout="column">
  <form [formGroup]="form" (ngSubmit)="onSubmitForm()" (keydown.enter)="$event.preventDefault()">
    <div fxLayout="row" fxLayoutGap="1rem" fxLayout.lt-sm="column">
      <div fxFlex="80">

        <mat-form-field class="btn-block" appearance="outline">
          <mat-label>Title</mat-label>
          <input #titleInput formControlName="name" matInput maxlength="85" placeholder="Product name" type="text">
          <mat-error *ngIf="form.hasError('required', 'name')">Enter product name.</mat-error>
          <mat-hint align="end">{{titleInput.value.length}} / 85</mat-hint>
        </mat-form-field>

        <mat-form-field class="btn-block" appearance="outline">
          <mat-label>Beschreibung</mat-label>
          <textarea #descriptionInput matInput rows="10" formControlName="description" placeholder="Product description"
            maxlength="700"></textarea>
          <mat-error *ngIf="form.hasError('required', 'description')">Enter product description.</mat-error>
          <mat-hint align="end">{{descriptionInput.value.length}} / 700</mat-hint>
        </mat-form-field>

      </div>
      <div fxFlex="20">
        <mat-form-field class="btn-block" appearance="outline" formControlName="price">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" matInput max="999" min="000" placeholder="0,00" type="number"
            step=".01">
          <mat-icon matSuffix>euro</mat-icon>
          <mat-error *ngIf="form.hasError('required', 'price')">Enter valid product price.</mat-error>
          <mat-error *ngIf="form.hasError('max', 'price')">Entered price to high.</mat-error>
          <mat-error *ngIf="form.hasError('min', 'price')">Entered price to low.</mat-error>
        </mat-form-field>

        <mat-grid-list cols="1" rowHeight="1:1">
          <mat-grid-tile [style]="'background-size: cover;background-image: url(\'' + selectedImage.preview + '\')'">
            <div fxLayout="column" fxLayoutAlign="end center" fxFlexFill>
              <div style="height: 100%;" fxLayout="column" fxLayoutAlign="center center"></div>
              <mat-progress-bar mode="determinate" color="accent"
                [value]="selectedImage.uploadProgress"></mat-progress-bar>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

        <input #input (change)="select($event)" accept="image/*" hidden type="file" />
        <button (click)="input.click()" class="btn-block" color="accent" mat-flat-button>Add Image</button>


      </div>
    </div>
    <button [disabled]="!valid" class="btn-block" color="primary" mat-flat-button type="submit">
      Submit
      <mat-icon *ngIf="form.enabled">upload</mat-icon>
      <mat-icon *ngIf="!form.enabled"><mat-progress-spinner mode="indeterminate"
          diameter="20"></mat-progress-spinner></mat-icon>
    </button>
  </form>
</div>